
<div class="container">
        <div class="ub-content ub-get">
            <h1><%- LANG('Get UnitedBitcoin') %></h1>
                <h2>Phase2<span>Final round of Distribution of UBTC</span></h2>
            <div class="ub-text">
                <p>The second and final distribution phase of UBTC for the Bitcoin community will end around noon (UTC +8) on 3rd January 2018. The exact block height will be announced one day in advance.</p>
                <p>Both the Bitcoin and UB community have provided extremely helpful feedback. The UB team is committed to the community, so comments are welcomed and encouraged. One area the community made clear needed to be addressed was the claiming process. Due to this feedback, The UB team has changed the process. Bitcoin holders are not required to send Bitcoin from address A to address A or provide a TXID to prove ownership. This will simplify the user experience. Users who have already completed the previous process and have provided TXIDs will be contacted by email with further details.</p>
                <p>During phase 2, an amount of UBTC, equal to the balance at Bitcoin block 498,777, will be distributed at a 1:1 ratio to eligible addresses that satisfy the following conditions.</p>
                <div class="indentation">
                    <p>(1) did not receive UBTC in the first round; and</p>
                    <p>(2) had a Bitcoin balance at block 498,777 （approximately UTC +0 midnight 12th December 2017）higher than 0.01 BTC; and</p>
                    <p>(3) had activity (outgoing) between block 494,000 and 502,315 (around 12th November 2017 to 3rd January 2018);</p>
                </div>

                <p>More than 3 million UBTC will be distributed according to our initial estimates.</p>
                <p>For those who have their Bitcoin stored on cryptocurrency exchanges, the UB team has notified in excess of <a href="/project/ecosystem/exchanges" target="_blank">50 major exchanges</a> via email about UB, UBTC and the forking procedure. The team is in various stages of integration to support UBTC trading as well as assist them in the distribution of the UBTC they received for their users.</p>
                <p>Users with their holdings on exchanges should contact their exchange for information regarding claiming UBTC. Holders may also want to forward this letter to their exchange(s) and check if necessary work has been done to prove the addresses are active to ensure successful distribution of UBTC.</p>
                <p>UB will not be able to distribute UBTC directly if the Bitcoin is on an exchange. However, whether the exchange is aware of UB’s procedures or not, they will have received UBTC for their active addresses and we will work with them throughout phase 2. To ensure they are aware, holders can help by requesting their UBTC from their exchange.</p>
                <p>Please visit ub.com to check the balance of addresses, how to use UBTC, and download UBTC wallets.</p>
            </div>

                <h2>Phase1<span>Distribution of UBTC at the time of the fork.</span></h2>
                <p>UB forked on 12th December 2017 (Bitcoin block height 498,777) and the first phase of distribution finished shortly after. Roughly 900,000 UBTC were distributed.</p>


</div>
</div>
