<div class="user-center" id="validation_area">
    <div class="container">
        <!--<h1><%- LANG('比特币(BTC)用户逾期领取UBTC申请') %></h1>-->
        <h1 v-html="apply"></h1>
        <div class="title" v-html="randomWord"></div>
        <div class="btc-address">
            <span>{{btkind}}<%- LANG('地址') %>：</span>
            <span v-if="btkind=='HSR'">HFDSPUXwM7iokMfgiJPDuLV2UcWRRr4xFi</span>
            <span v-if="btkind=='QTUM'">QgxaPhaMVG48zo7vCnj3xQnkZKmy6RWsRp</span></div>
        <div class="button"><a href="othersConfirm" role="button"><%- LANG('完成') %></a></div>
    </div>
</div>
<script>
    var app = new Vue({
        el: '#validation_area',
        data: function () {
            return {
                randomBtc:"",
                btkind:'',
            }
        },
        computed : {
            randomWord : function () {
                return UB.L("为验证您的比特币地址，请从该地址转账X到以下Y地址。完成后您可继续为另一个Y地址申领UBTC或点击完成退出申领。", this.randomBtc,this.btkind);
            },
            apply(){
                return UB.L("X用户领取UBTC申请", this.btkind);
            }
        },
        methods : {


        },
        created : function () {
        },

        mounted : function () {
           var tempRandomBtc = window.sessionStorage.getItem("randomBtcothers");
            this.btkind=window.sessionStorage.getItem('btkind')?window.sessionStorage.getItem('btkind'):''
           if(tempRandomBtc){
               this.randomBtc =tempRandomBtc ;
           }
           else{

           }
        },
        beforeCreate:function(){
            if(!window.sessionStorage.getItem("mail"))
            {
                window.location="/user/login";
            }

        },
    })
</script>