<div class="user-center" id="service_area">
    <div class="container">
        <h1><%- LANG('请选择您需要的服务') %></h1>
        <div class="choose-service">
            <div class="grid">
                <a href="confirm" link="a-true" role="button"><%- LANG('比特币(BTC)用户逾期领取UBTC申请') %></a>
                <a role="button" :href="newsMap[LAN]" target="_blank"><%- LANG('宽限期详情') %></a>
            </div>
            <div class="grid">
                <!--<a href="javascript:;" link="a-false" role="button"><%- LANG('其他社区虚拟币用户领取UBTC申请') %></a>-->
                <a href="others" link="a-true" role="button"><%- LANG('其他社区虚拟币用户领取UBTC申请') %></a>
                <a role="button" :href="news[LAN]" target="_blank"><%- LANG('空投详情') %></a>
            </div>
        </div>
    </div>
</div>

<script>
    var app = new Vue({
        el: '#service_area',
        data: function () {
            return {
                newsMap:{
                    "en":"/news/detail?column=1&id=280",
                    "cn":"/news/detail?column=1&id=281",
                    "hk":"/news/detail?column=1&id=283",
                    "kr":"/news/detail?column=1&id=280",
                    "jp":"/news/detail?column=1&id=280"
                },
                news:{
                    "en":"/news/detail?column=1&id=288",
                    "cn":"/news/detail?column=1&id=294",
                    "hk":"/news/detail?column=1&id=291",
                    "kr":"/news/detail?column=1&id=289",
                    "jp":"/news/detail?column=1&id=290"
                }
            }
        },
        methods : {

        },
        created : function () {
        },
        mounted : function () {
        },
        beforeCreate:function(){
            if(!window.sessionStorage.getItem("mail"))
            {
                window.location="/user/login";
            }

        },
    })
</script>